body,
html {
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table,
tr,
th,
td {
    border: 1px solid black;
}

.green {
    color: green;
}

.red {
    color: red;
}
